html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-grow: 1;
  text-align: center;
}

.main-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer {
  text-align: center;
  padding: 1rem 0;
}

@media (max-width: 768px) {
  #root {
    padding: 1rem;
  }

  h1 {
    font-size: 1.5rem;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}
